.navBar{
    background-color: blueviolet;
    height: 4.5rem;
    text-align: center;
}

.navBar-button{
    border: none;
    background: none;
    font-size: 1.5rem;
    height: 4.5rem;
    width: 10rem;
}
.navBar-button:hover{
    background-color: antiquewhite;
}
/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
   */
  /* li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: yellow;
  }