body{
  /* background-color: #0f1f52; */
  /* background: rgb(11,11,12);
  background: linear-gradient(90deg, rgba(11,11,12,1) 0%, rgba(51,59,61,1) 35%, rgba(153,167,168,1) 100%); */
  font-family: Arial, Helvetica, sans-serif;
    /* background-image: url("world-g973df17e1_1280.jpg");
    background-repeat: no-repeat;
    background-size:100%; */
}
#header{
  background-image: url("bubbles-ge1732bf6a_640.jpg");
  background-repeat: no-repeat;
  background-size:100%;
  height: 800px;
  background-position-y: -300px;
}

.navBar{
    /* background-color: white;  */
    height: 4.5rem;
    text-align: center;
}
.navBar-button{
    font-size: 1.5rem;
    height: 4.5rem;
    text-decoration: none;
    padding: 1rem;
    color: white;
    line-height: 2;
    float:right;
} 
.home-btn{
  float:left;
}
.navBar-button:hover{
    transform: scale(1.3);
}
.navbar-card{
    display: none; 
    position: relative;
    margin: 5rem 20rem auto 20rem; 
    background-color: white;
    padding:3rem;
    text-align: center;
    animation: slide 1s;
}
 .col{
  flex: 1;
  float: center;
} 

#avatar{
  max-width: 100%;  
/* height: auto;*/  
  transform: rotateY(180deg);
}
/* #background{
  background-image: url("world-g973df17e1_1280.jpg");
  height: 700px;
  background-size: 100%;
} */
#welcomeMessage h1{
    display: block;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    color: white;
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: auto; /* Gives that scrolling effect as the typing happens */
    margin-top: 15rem;
    letter-spacing: .15em; /* Adjust as needed */
    width: 30%;
    text-align: center;
    font-size: 3rem;
    animation: 
      type 5s steps(50, end) infinite,
      cursor .75s step-end infinite;
  }

  @media(max-width: 700px){
    .col{
      flex-direction: row;
    }
  }
  /* The typing effect */
  @keyframes type {
    from { width: 0 }
    /* to { width:100% } */
    to { width:30% }
  }

  /* The typewriter cursor effect */
  @keyframes cursor {
    from, to { border-color: transparent }
    50% { border-color: white;  }
  }

  @keyframes slide {
    100% { transform: translateY(5%)};
  }

